.fapsl{
    margin: 0;
}
.fapsl__header {
background-color: #180C35;
margin: 0;
h1{
   color: #DCBFFD;
font-family: "Diplomata SC";
font-size: 84px;
font-style: normal;
letter-spacing: -8.73px; 
margin: 0;
text-align: center;
}
}