.imprevisible{
    background-color: $c-bg-imprevisible;
    font-family: "'din-2014'", sans-serif;
    color: $c-fapsl-bg-second;
}
.imprevisible__header {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;     
    gap: 15px;
    color: $c-title-imprevisible;
    width: 100%;
    z-index: 100;
    background-color: $c-bg-imprevisible;
    box-sizing: border-box; 
    padding: 0; 
    height: 100vh;
    position: fixed;
    height: 100px;
    top: 0;
}

.imprevisible__title {
    font-family: "gnar", sans-serif;
    letter-spacing: 1px;
    line-height: 80%;
    will-change: transform, opacity;
    font-size: clamp(2.0625rem, 1.2188rem + 3.375vw, 3.75rem);
    margin: 0; 
}

.imprevisible__logo {
    will-change: transform, opacity;
    width: clamp(35px, calc(17.5px + 4.375vw), 70px);
}
.imprevisible__nav{
     a{
        text-decoration: none;
        text-align: center;
        transition: 0.3s;
        color: $c-fapsl-bg-second;
        width: fit-content;
        &:hover{
            color: $c-fapsl-title;
        }
    }
    margin: 80px 3%;
        display: flex;
        list-style: none;
        flex-direction: column;
        padding: 0;
        gap: 50px;
        justify-self: center;
        @media (min-width: $tablet-size) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
    
    @media (min-width: $desktop-size) {
        display: flex;
        flex-direction: row;
        margin: 50px 100px;
        
    }

}


@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.imprevisible__el {
    max-width: 300px;
    position: relative;

    img {
        transition: filter 0.4s ease;
        filter: blur(8px);

    }
    div{
        position: absolute;
        z-index: 10;
        bottom:  10%;
        left: 50%;
        transform: translateX(-50%); 
        opacity: 0;
        transition: opacity 0.4s ease;
        width: fit-content;
    }

    &:hover, &:focus {
        img {
            filter: blur(0px);
        }
        div {
            opacity: 1;
        }
    }
}
.link {
    position: relative;
    text-decoration: none;
    color: $c-fapsl-title;
    background-color: $c-bg-imprevisible;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    display: block;
    min-width: 15ch;
    &--credits {
        margin: 20px auto;
        width: fit-content;
        background-color: $c-title-imprevisible;
        font-size: clamp(1.5625rem, 1.4125rem + 0.6vw, 1.9375rem);
        padding: 10px 20px;
        color: $c-fapsl-bg-second;
        &:hover, &:focus {
            color: rgb(242, 234, 234);
            &::before {
                padding: 10px;
            }
        }
    }
    
    &--home{
     &:hover, &:focus{
      color: $c-fapsl-title;
        &::before{
            padding: 5px;
        }}}
        &:hover, &:focus {
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            background: conic-gradient(from var(--angle), transparent 80%, #4000EF); 
            width: 100%; 
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;
            border-radius: 5px;
            animation: nav__imprevisible 1.5s linear infinite; 
        }
    }
}
@keyframes nav__imprevisible {
    from {
        --angle: 0deg;
    } 
    to {
        --angle: 360deg;
    }  
}
.imprevisible__explication{
    margin: 20px 2%;
    max-width: 50ch;
    font-size: clamp(1.5rem, 0.9375rem + 2.25vw, 2.625rem);
    padding: 80% 50px 100px 50px;
    display: flex;
    align-self: center;
    justify-self: center;
        @media (min-width: $tablet-size) {
            padding: 60% 50px 100px 50px;
        }
        @media (min-width: $desktop-size) {
            padding: 30% 50px 100px 50px;
        }

    
}
.imprevisible__contact{
   display: flex;
        list-style: none;
        padding: 0;
        justify-content: center;
       
    margin-left: 5%;
    
    li{
        margin: 0 10px;
    }
    svg{
        width: 25px;
        fill: $c-fapsl-bg-second;
        &:hover{
            fill: $c-fapsl-title;
        }
    }
}
