.monde{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Bricolage Grotesque", sans-serif;
    color: $c-font-monde;
}
.monde__header {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/images/headermonde.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;  
    justify-content: center; 

    h1 {
        background-color: rgba($color-monde, 0.7);
        border-radius: 7px;
        padding: 20px 40px;
        font-size: clamp(1.625rem, -0.6842rem + 8.2105vw, 6.5rem);
        display: inline-block; 
        text-align: center;
        margin: 5px;
        line-height: 90%;
        max-width: 10ch;
        font-family: "Inria Serif", serif;
    }
    @media (min-width: $desktop-size){
      background-image: url(../../assets/images/headermonde-desktop.jpg);
    }
}
.monde__container{
    display: flex;
    flex-direction: column;
    margin: 20px 0 ;
     @media (min-width: $desktop-size){
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: 50px 100px;
        grid-column-gap: 40px;
        grid-template-rows: auto;
    }
    @media (min-width: $desktop-size){
        display: grid;
        grid-template-columns: repeat(6, 1fr);
       margin: 20px 0;
        grid-column-gap: 40px;
        grid-template-rows: auto;
    }
}
.monde__content{
    height: fit-content;
    margin: 20px 0;
    h2{
        text-align: center;
        background-color: $color-monde;
        font-family: "Inria Serif", serif;
        padding: 10px 5%;
    }
    p{
        margin: 20px 5%;
    }
    ul{
        padding-left: 20px;
    }
    li{
        margin: 10px 0;
    }
    @media (min-width: $desktop-size){
        grid-column: 1/ 5;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        h2 {
    height: 100px;
    display: flex;
    align-items: center;   
    justify-content: flex-end; 
    padding-right: 20px; 
    margin: 0;
    text-align: right; 
    grid-column: 1 / -1;
   padding-left: 30%;
    }

        p, ul{
            margin-left: 100px;
            grid-column: 2 / 5;
        }}
}
.monde__footer{
    background-color: $color-monde;
    text-align: center;
    padding: 20px 5%;
    .mention{
        font-size: 12px;
        margin-top: 10px;
    }
    small{
        display: block;
        margin-top: 10px;
    
    }
    @media (min-width: $desktop-size){
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 40px;
        .solgan{
            grid-column: 1/ 3;
            margin: 0;
        }
        .mention{
            font-size: 14px;
            grid-column: 4/ 6;
            justify-self: center;
            align-self: center;
            margin-top: 30px;
        }
    }
        small{
            grid-column: 6;
            justify-self: end;
            align-self: end;
        }
    }
    
