.monde{
    display: flex;
    flex-direction: column;
    margin: 0;

}
.monde__header {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/images/headermonde.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;  
    justify-content: center; 

    h1 {
        background-color: rgba($color-monde, 0.7);
        border-radius: 7px;
        padding: 5px;
        font-size: clamp(1.625rem, -0.6842rem + 8.2105vw, 6.5rem);
        display: inline-block; 
        text-align: center;
        margin: 5px;
        line-height: 70%;
    }
    @media (min-width: $desktop-size){
    }
}
