img{
  width: 100%;
}
p{
  font-size: clamp(1rem, 0.9318rem + 0.3636vw, 1.25rem);
  max-width: 90ch;
}
.logo{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    z-index: 10;
}