body{
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
img{
  width: 100%;
}
p{
  font-size: clamp(1rem, 0.9318rem + 0.3636vw, 1.25rem);
  max-width: 90ch;
}
.logo{
    width: 70px;
    height: 70px;
    z-index: 100;
    width: clamp(35px, calc(17.5px + 4.375vw), 70px);
    transition: 1s;
    &--fapsl{
      top:1%;
    
    }
    &--monde{
      position: absolute;
      top: 20px;
      left: 2%;
      z-index: 100;
      max-width: fit-content;
    }
    &:hover, &:focus{
      transform: rotateY(180deg);
    }

}



.btn__mobile{
        opacity: 0;
    visibility: hidden;
        bottom: 50px;
    right: 50px;
    display: flex;
    flex-direction: row;
        position: fixed;
        gap: 20px;
        align-content: center;
        transition: 0.4s;
        z-index: 100;

        &.--show {
        opacity: 1;
        visibility: visible;

    }
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 20px;
  &--fapsl{
    background: $c-fapsl-bg-footer;
    color: $c-fapsl-title;
    padding: 200px 5% 0 5%;
    p{
        font-size: clamp(1rem, 0.9318rem + 0.3636vw, 1.25rem);
        margin: 20px auto;
        max-width: 50ch; 
}
    h2{
        font-size: clamp(1.75rem, 1.6307rem + 0.6364vw, 2.1875rem);
    }}
  &--monde{
    background: $color-monde;
        padding: 20px 5%;
    .mention{
        font-size: 15px;
        margin-top: 10px;
        max-width: 40ch;
    }
    small{
        display: block;
        margin-top: 10px;
    
    }}
  &--lunas{
background-color: $c-blue-lunas;
    color: $c-bg-lunas;
    padding: 20px 30px;
    small{
        display: flex;
        justify-self: end;
        align-self: flex-end;
    }
    h2{
        margin-bottom: 0;
    }
    p{
        max-width: 30ch;
        display: flex;
        margin: 10px auto;
        font-size: clamp(0.75rem, 0.65rem + 0.4vw, 1rem);
        align-self: center;
    }
    div{
        margin: 0;
    }}
  &--blog{
    background: $c-bg-degrade-blog;
    padding-top: 20px;
    p{
        font-size: 16px;
        line-height: 120%;
        max-width: 45ch;
        display: flex;
        justify-self: center;
    }
    h2{
        text-align: center;
    }
    ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
        padding: 0;
        margin: 0 35%;
        justify-items: center;
        align-items: center;
    }
    small{
        display: flex;
        justify-self: center;
    }
    svg{
        fill: white;
        transition: 0.3;
        width: 30px;
    &:hover, &:focus{
        fill:#F708FF;
    }}  
  }
  @media (min-width: $tablet-size) {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 5%;
    align-items: flex-start;
    &-home{
      align-items: center;
  
    }
    &--fapsl{
        padding: 200px 5% 10px 5%;
        flex-direction: column;
        h2{
          align-self: center;
        }
        
    }}
  :last-child{
    align-self: flex-end;
  }}