body{
  margin: 0;
  max-width: 1500px;
  width: 100%;
  
  
}
html{
  scroll-behavior: smooth;
}
img{
  width: 100%;
}
p{
  font-size: clamp(1rem, 0.9318rem + 0.3636vw, 1.25rem);
  max-width: 90ch;
}
.logo{
    width: 70px;
    height: 70px;
    z-index: 100;
       width: clamp(35px, calc(17.5px + 4.375vw), 70px);
    transition: 1s;
    &--fapsl{
      top:1%;
      @media (min-width:600px) {
        transform: translateY(clamp(10px, 1vh, 100px));
      }
     
    }
    &o--credits{
      position: unset;
    }
    &:hover, &:focus{
      transform: rotateY(180deg);
    }

}



.btn__mobile{
        opacity: 0;
    visibility: hidden;
        bottom: 50px;
    right: 50px;
    display: flex;
    flex-direction: row;
        position: fixed;
        gap: 20px;
        align-content: center;
        transition: 0.4s;
        z-index: 100;

        &.--show {
        opacity: 1;
        visibility: visible;

    }
}