.blog{  background-color: $c-bg-blog;
    color: $c-text-blog;
    font-family: $font-blog;
    line-height: 160%;

}
.blog__content{
  
     margin: 20px 5% ;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    
    h2{
        color: $c-soustitle-blog;
        font-size: clamp(2.5rem, 2.3295rem + 0.9091vw, 3.125rem);
        line-height: 90%;
        margin: 0;
    }
    h3{
        color: $c-soustitle-blog;
        font-size: clamp(1.75rem, 1.6307rem + 0.6364vw, 2.1875rem);
        line-height: 120%;
        margin: 0;
    }
    p{
        margin: 0;
    }

    @media  (min-width: $desktop-size){
 
            grid-column: 1/ 4;
        
    }}
 
.blog__line{
    width: 35%;
    height: 10px;
    background: $degradient-blog;
    margin: auto 20px;
    display: flex;
    justify-self: center;
    border-radius: 5px;
    grid-column: 1/ -1;
    max-width: 300px;
}
    .blog__title{
        background: $degradient-blog;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: clamp(3rem, 2.7955rem + 1.0909vw, 3.75rem);
        font-family: $font-blog-title;
        line-height: 80%;
        text-align: center;
        grid-column: 1/ -1;
    }
.blog__containner{
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media  (min-width: $desktop-size){
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding:100px 0;
        grid-column-gap: 40px;
    }
}
.blog__signature{
    font-size: clamp(1rem, 0.9318rem + 0.3636vw, 1.25rem);
    font-family: $font-blog-title;
    text-align: right;
    margin: 0;
    align-self: flex-end;
    @media (min-width: $desktop-size) {
        grid-column: 3;
    }
}
