.lunas__section {
    display: none;
    &--active {
        display: block;
    }
}
.pagination__el {
    text-decoration: none;
    color: black;
    &--active {
        color: red;
        font-weight: bold;
    }
}
.lunas__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    &.disabled {
        opacity: 0;
        cursor: not-allowed;
    }
}