.lunas{
    background-color: $c-bg-lunas;
    color: $c-text-lunas;
    font-family: "figtree", sans-serif;
    font-size: clamp(1rem, 0.9091rem + 0.4545vw, 1.25rem);

}
.lunas__container{
    position: relative;
    width: 100%;

}
.lunas__mode{
    font-family: "fabulosa", sans-serif;
    color: $c-lunas-hover;
    position: absolute;
    z-index: 10;
    font-size: clamp(4.1875rem, 2.3239rem + 9.3182vw, 9.3125rem);
    line-height: 90%;
    text-align: center;
    width: 100%;
    margin: 0;
    height: clamp(12.5625rem, 5.9943rem + 32.8409vw, 30.625rem);
    align-content: center;

    span{
        display: block;
    }
}
.lunas__img{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
}
.lunas__lunette{
    max-width: 700px;
   justify-self: center;
   display: flex;

   @media (min-width: 450px) {
        width: 80%;
   }

}
.lunas__header{
    display: grid;
    grid-template-columns: max-content 1fr;
    padding: 20px;
    align-items: center;
    max-width: 1000px;
    width: fit-content;
    margin: 0 auto;
    h1{
        text-align: center;
        font-family: "fabulosa", sans-serif;
        margin: 0 10px;
        width: fit-content;
        color: $c-blue-lunas;
        font-size: clamp(3.4375rem, 3.0284rem + 2.0455vw, 4.5625rem);

    }}
.lunas__section {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.4, 0.1, 0.7, 0.95), opacity 0.5s ease, visibility 0.5s;

    &--active {
        position: relative; 
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }

    &--app {
        margin: 10px 2%;
        max-width: 800px;
        justify-self: center;

        .img__app {
            width: 50%;
            height: auto;
            border-radius: 12px;
            margin: 20px auto;
            display: flex;
        }

        p {
            max-width: 40ch;
            margin: 10px 2%;

        }

        h3 {
            font-family: "fabulosa", sans-serif;
            text-align: center;
            color: $c-blue-lunas;
        }

        @media (min-width: $desktop-size) {
            &.lunas__section--active {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: fit-content;
            }

            .img__app {
                grid-column: 2;
                width: 50%;
                height: auto;
            }

            h2 {
                grid-column: 1 / -1;
            }

            p {
                margin: 40px auto;
            }
        }
    }
}
.lunas__pagination{
    display: flex;
    gap: 10px;
    justify-self: center;
        margin: 20px auto;
}
.pagination__list{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    width: fit-content;
    justify-self: center;
}
.pagination__el {
        background-color: $c-blue-lunas;
    border-radius: 50%;
    display: flex;
    a{
        text-decoration: none;
        color: $c-bg-lunas;
        display: flex;
        font-size: 14px;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
   
    }
         &:hover, &:focus{
        background-color: $c-lunas-hover;
      }
    &--active {
        background-color: #2628A3;
      a{
        color: $c-text-lunas;

      } 
 
    }
}
.lunas__btn {
    background-color: $c-blue-lunas;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    padding: 5px;
    display: flex;
    height: fit-content;
    justify-self: center;
    align-self: center;
    svg{
        width: 20px;
        height: 20px;

    }

    &:hover, &:focus{
        background-color: $c-lunas-hover;
      };
    
    &.disabled {
        opacity: 0;
        cursor: not-allowed;
    }
 
}

.filter__compability{
    width: 100%;
    height:100%;
    background-color: hsl(157, 100%, 25%);
    position: absolute;
    opacity: 0.5;
    z-index: 10;
    top: 0;
    mask-image: url('../assets/images/lunas-compabili$.svg');
    mask-repeat: no-repeat; 
    mask-size: contain;
    mask-position:  64% 0;
 
}
.lunas__compability{
    position: relative;
    max-width: 900px;
    margin: 10px 2%;
    justify-self: center;
    p{
        text-align: center;
        width: 100%;
        position: absolute;
        z-index: 100;
        bottom: 10px;
        bottom: 20px;
        color: $c-bg-lunas;
        margin: 0 ;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3px;
        font-size: clamp(1.3125rem, 0.7216rem + 2.9545vw, 2.9375rem);
    }   
    span{

        color: rgb(61, 0, 87);
        font-weight: bolder;
        font-size: clamp(1.75rem, 1.1364rem + 3.0682vw, 3.4375rem);

    }}
    .lunas__input{
    width: 220px;
    padding: 10px;
    height: 20px;
    display: flex;
    margin: 30px auto ;

    border: $c-blue-lunas 2px solid;
    background-color: $c-bg-lunas;
    color: $c-blue-lunas;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    appearance: none;
    &::placeholder{
        color: $c-blue-lunas;
        text-align: center;
        font-size: 20px;
        width: 100%;
        transition: 0.3s;
        
    }
    &:hover, &:focus{
        border: $c-lunas-hover 2px solid;
        color: $c-lunas-hover;
        &::placeholder{
            color: $c-lunas-hover;
        }
    }

}

.lunas__contact{
    padding: 0;
    list-style: none;
    margin: 10px 20px;
    font-size: 14px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    a{
        text-decoration: none;
        color: $c-bg-lunas;
        transition: 0.3s;
        &:hover, &:focus{
            color: $c-lunas-hover;
        }
    }

}

.lunas__burger {
    position: fixed;
    top: 35px;
    right: 30px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    justify-self: end;

      &:hover{
        .menu-toggle-bar{
        background-color: $c-lunas-hover;
        }
    }

    &.open {

        .menu-toggle-bar--top {
            transform: translateY(0) rotate(45deg);
        }
        .menu-toggle-bar--middle {
            opacity: 0;
        }
        .menu-toggle-bar--bottom {
            transform: translateY(0) rotate(-45deg);
        }
    }
}

.menu-toggle-bar {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: $c-blue-lunas;
    transition: all 0.3s ease;

    &.menu-toggle-bar--top {
        transform: translateY(-10px); 
    }

    &.menu-toggle-bar--bottom {
        transform: translateY(10px);
    }
}
.lunas__nav {
    position: fixed;
    z-index: 1000;
    background-color: $c-bg-lunas;
    height: 100vh;
    top: 0;
    right: 0;
    width: 100%; 
    padding-top: 100px;
    visibility: hidden;
    opacity: 0;
    transform: translateX(5%);
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s;
    &.open{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    a {
        text-decoration: none;
        color: $c-text-lunas;
        transition: 0.3s;
        &:hover, &:focus {
            color: $c-lunas-hover;
        }
    }
    .lunas__el--active{
        a{
            color: $color-monde;
        }
        &:hover, &:focus{
            a{
                color: $c-lunas-hover;
            }
        }
    }
    @media (min-width: $desktop-size) {
        width: 400px;
        
    }
}
.lunas__stitle{
        font-family: "fabulosa", sans-serif;
        color: $c-blue-lunas;
        text-align: center;
        font-size: clamp(2.0625rem, 1.5625rem + 2.5vw, 3.4375rem);
}
.lunas__carrousel{
    list-style: none;
    padding: 0;
    max-width: 900px;
    justify-self: center;
    margin: 10px 2%;
    height: fit-content;
        position: relative;
}
.carrousel__el{
    position: relative;
    p{
        position: absolute;
        z-index: 10;
        bottom: 10px;
        background: rgba(26, 26, 27, 0.423);
        left: 50%;
        transform: translateX(-50%);
        min-width: 20ch;
        text-align: center;
        font-size: clamp(1.125rem, 0.9205rem + 1.0227vw, 1.6875rem);

    }
}


.carrousel__anim {
    position: absolute;
    inset: 0; 
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.4s ease, visibility 0.4s ease;
 
    span{
        display: block;
    }

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}
.lunas__avaible{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin: 10px auto;
    img{
        width: clamp(5rem, 3.1818rem + 9.0909vw, 10rem);;
        border-radius: 10px;}


}



.lunas__logo{
    width:  clamp(3.75rem, 2.3864rem + 6.8182vw, 7.5rem);
    display: flex;
    margin: 20px auto;
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    display: flex;
    margin: 30px auto;
    &:hover, &:focus{
        .slider::before{
            background-color: $c-lunas-hover;
        }
    }
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eafbff;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.toggle-switch .slider::before {
    content: "";
    position: absolute;
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: #0e607c;
    border-radius: 45px;
    transform: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.toggle-switch input:checked + .slider {
    background-color: #69c6e2;
}

.toggle-switch input:checked + .slider::before {
    transform: translateX(25px);
}
@media (min-width: $tablet-size) {
    .toggle-switch {
    width: 65px;
    height: 33px;
}

.toggle-switch .slider {
    border-radius: 50px;
}

.toggle-switch .slider::before {
    content: "";
    height: 29px;
    width: 29px;
    border-radius: 45px;

}

.toggle-switch input:checked + .slider::before {
    transform: translateX(32px);
}
}
@media (min-width: $desktop-size) {
    .toggle-switch {

    width: 80px;
    height: 40px;
}

.toggle-switch .slider {
    border-radius: 50px;

}

.toggle-switch .slider::before {

    height: 36px;
    width: 36px;


}

.toggle-switch input:checked + .slider::before {
    transform: translateX(40px);
}
}