.lunas{
    background-color: $c-bg-lunas;
    color: $c-text-lunas;
    font-family: "figtree", sans-serif;
    width: 100%;
    &.open{
        overflow: hidden;
    }


}

.lunas__header{
    position: relative;
    h1{
        font-family: $font-fabulosa;
        font-size: clamp(5.625rem, 3.4375rem + 8.75vw, 10rem);
        line-height: 90%;
        margin: 0;
        position: absolute;
        width: fit-content;
        transform: rotate(-12deg);
        left: clamp(3.125rem, 0.625rem + 10vw, 9.375rem);
        color: $c-blue-lunas;
        text-shadow: $shadow-title-lunas;
        top: clamp(0.0625rem, -1.1625rem + 4.9vw, 3.125rem);
    }
    .lunas__lunette{
        margin: clamp(-200px, calc(66px - 19vw), -10px) 0 0;
    }
    h2{
        font-family: $font-fabulosa;
        color: $c-blue-lunas;
        text-shadow: $shadow-title-lunas;
        font-size: clamp(2.8125rem, 2.5125rem + 1.2vw, 3.5625rem);
        line-height: 90%;
        width: 14ch;
        display: flex;
        justify-self: end;
        margin: clamp(-350px, calc(70px - 30vw), -50px) clamp(1px, calc(-58.6px + 14.9vw), 150px) 0 0;
        position: absolute;
        right: 0;

}}
.lunas__stitle{
        color: $c-blue-lunas;
        margin: 40px 2%;
        font-family: $font-fabulosa;
        font-size: clamp(2.8125rem, 2.4375rem + 1.5vw, 3.5625rem);
        line-height: 90%;
        &--center{
            text-align: center;
        }
}
.filter__compability{
    width: 100%;
    height: 100%;
    background-color: hsl(157, 100%, 25%);
    position: absolute;
    opacity: 0.5;
    z-index: 10;
    top: 0;
    mask-image: url('../assets/images/lunas-compabili$.svg');
    mask-repeat: no-repeat; 
    mask-position: 64%;
    mask-size: contain;
    mask-composite: intersect;
    filter: blur(150px);
    
}
.lunas__compability{
    position: relative;
    p{
        text-align: center;
        position: absolute;
        z-index: 100;
        bottom: 10px;
        bottom: 20px;
        color: $c-bg-lunas;
        font-size: clamp(2rem, 1.75rem + 1vw, 2.5rem);
        margin: 0 ;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        min-width: 30ch;
    }
    span{
        font-size: clamp(2.8125rem, 2.4375rem + 1.5vw, 3.5625rem);
        color: rgb(61, 0, 87);
        margin-left:10px ;
    }
    @media (min-width: $desktop-size) {
        p{
            bottom: 30px;
            flex-direction: row;
            justify-content: center;
        }
}}
.lunas__input{
    width: 220px;
    padding: 10px;
    height: 20px;
    display: flex;
    margin: 10px auto;

    border: $c-blue-lunas 2px solid;
    background-color: $c-bg-lunas;
    color: $c-blue-lunas;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    margin-top: 70px;
    appearance: none;
    &::placeholder{
        color: $c-blue-lunas;
        text-align: center;
        font-size: 20px;
        width: 100%;
        transition: 0.3s;
        
    }
    &:hover, &:focus{
        border: $c-lunas-hover 2px solid;
        color: $c-lunas-hover;
        &::placeholder{
            color: $c-lunas-hover;
        }
    }

}
.lunas__container{
    margin: 0 2%;
    section{
        margin: 80px 0;
    }
    @media (min-width: $desktop-size) {
        margin: 0 100px;
    
    }
}
.section__app{
    height: fit-content;
    h4{
        font-family: $font-fabulosa;
        font-size: clamp(2rem, 1.75rem + 1vw, 2.5rem);
        line-height: 90%;
        text-align: center;
        display: flex;
        margin: 15px auto;
        height: fit-content;
        color: $c-blue-lunas;
    }
    
     p{
        display: flex;
        margin: 20px auto;
        max-width: 30ch;
    
    }
    .lunas__stitle--center{
        margin-bottom: 30px;
    }
       div{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-self: center;
        align-items: center;
       
    }
        .img__app{
            width: 50%;
            height: auto;
            border-radius: 12%;
            margin: 20px auto;
            display: flex;
        }
    @media (min-width: $desktop-size) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: fit-content;
       .img__app{
            grid-column: 2;
            height: fit-content;
            width: 50%;
            height: auto;
        }
        
        h3{
            grid-column: 1 /-1;
    
        }
        p{
            margin: 50px auto;
         }

 
}}
.lunas__logo{
    width: 100px;
    display: flex;
    margin: 20px auto;
}
.lunas__avaible{
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin: 10px 10%;
    img{
        width: 160px;
        border-radius: 10px;

    }
    @media (min-width:$desktop-size) {
        margin: 10px 0;
        
    }
}

.lunas__contact{
    padding: 0;
    list-style: none;
    margin: 10px 20px;
    a{
        text-decoration: none;
        display: flex;
        color: $c-bg-lunas;
        transition: 0.3s;
        margin-bottom: 8px;
        &:hover, &:focus{
            color: $c-lunas-hover;
        }
    }
}
.interupteur{
    width: 85px;
    padding: 9px 7px;
    background-color: #B3D2F7;
    border: $c-blue-lunas solid 2px;
    border-radius: 30px;
    display: flex;
    margin: 50px auto;

}
    
.interupteur__default{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $c-blue-lunas;
        border: #5795E2 solid 1px;
        transition: 0.3s;
       &.active{
        transform: translatex(50px);
       }
    }
.lunas__carrousel{
    position: relative;
    min-height: clamp(12.5rem, 0rem + 50vw, 43.75rem);
    p{
    position: absolute;
    z-index: 10;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(2rem, 1.75rem + 1vw, 2.5rem);
    backdrop-filter: blur(5px);
    margin: 0;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    min-width: 25ch;
}
}
.carrousel__fixe{
position: absolute;
}
.carrousel__anim{
    position: absolute;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.5s ease;
    &.active{
       opacity: 1;
    }

}
.lunas__burger {
    position: fixed;
    top: 50px;
    right: 50px;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    justify-self: end;

      &:hover{
        .menu-toggle-bar{
        background-color: $c-lunas-hover;
        }
    }

    &.open {

        .menu-toggle-bar--top {
            transform: translateY(0) rotate(45deg);
        }
        .menu-toggle-bar--middle {
            opacity: 0;
        }
        .menu-toggle-bar--bottom {
            transform: translateY(0) rotate(-45deg);
        }
    }
}

.menu-toggle-bar {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: $c-blue-lunas;
    transition: all 0.3s ease;

    &.menu-toggle-bar--top {
        transform: translateY(-10px); 
    }

    &.menu-toggle-bar--bottom {
        transform: translateY(10px);
    }
}
.lunas__nav {
    position: fixed;
    z-index: 1000;
    padding: 100px 50px 0px 20px;
    background-color: $c-bg-lunas;
    height: 100vh;
    top: 0;
    right: 0;
    width: 300px; 

    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    a {
        text-decoration: none;
        color: $c-text-lunas;
        transition: 0.3s;
        &:hover, &:focus {
            color: $c-lunas-hover;
        }
    }

    &.open {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}