$c-bg-blog: #29265C;
$c-text-blog: #ffffff;
$degradient-blog: linear-gradient(95deg, #6AD6FE 33.41%, #F708FF 101.85%);
$c-bg-degrade-blog:linear-gradient(142deg, #F708FF 2.06%, #2628A3 57.89%);
$c-soustitle-blog: #00AEEF;
$color-monde: #6AD6FE;
$c-font-monde: #010F17;
$c-fapsl-bg:#B7A4C3;
$c-fapsl-text: #180C35;
$c-fapsl-border:#AC6BF6;
$c-fapsl-bg-second: #F7EFFF;
$c-fapsl-title: #DCBFFD;
$fapsl-shadow:10px 15px 9.3px rgba(63, 34, 48, 0.25);
$c-fapsl-bg-footer:linear-gradient(180deg, #b7a4c3, #29265c 50%); 
$c-bg-lunas:#101120;
$c-blue-lunas: #69C6E2;
$c-text-lunas: #EAFBFF;
$c-footer-lunas: #020825;
$shadow-title-lunas:9px 6px 4px rgba(145, 183, 196, 0.5);
$c-bg-imprevisible: #2B2626;
$c-lunas-hover:#EA00FF;
$c-fapsl-hover: #CE109B;
$c-title-imprevisible: #7D6DF7;
$c-bg-monde: #EDF9FF;

$font-blog: "Open Sans", sans-serif;
$font-blog-title: 'Koulen';
$font-fabulosa: "fabulosa", sans-serif;

$desktop-size: 1200px;
 $tablet-size:700px;