$c-bg-blog: #29265C;
$c-text-blog: #ffffff;
$degradient-blog: linear-gradient(95deg, #6AD6FE 33.41%, #C24ECD 101.85%);
$c-bg-degrade-blog:linear-gradient(142deg, #D866B0 2.06%, #2628A3 57.89%);
$c-soustitle-blog: #00AEEF;
$desktop-size: 1020px;
$font-blog: 'Londrina Solid';
$font-blog-title: 'Koulen';
$color-monde: #00AEEF;
$c-violet-light: #DCBFFD;
$c-font-monde: #010F17;