$c-bg-blog: #29265C;
$c-text-blog: #ffffff;
$degradient-blog: linear-gradient(95deg, #6AD6FE 33.41%, #C24ECD 101.85%);
$c-bg-degrade-blog:linear-gradient(142deg, #D866B0 2.06%, #2628A3 57.89%);
$c-soustitle-blog: #00AEEF;
$desktop-size: 1020px;
$font-blog: 'Londrina Solid';
$font-blog-title: 'Koulen';
$color-monde: #00AEEF;
$c-violet-light: #DCBFFD;
$c-font-monde: #010F17;
$c-fapsl-bg:#B7A4C3;
$c-fapsl-text: #180C35;
$c-fapsl-border:#AC6BF6;
$c-fapsl-bg-second: #F7EFFF;
$c-fapsl-title: #DCBFFD;
$fapsl-shadow:10px 15px 9.3px rgba(63, 34, 48, 0.25);
$c-fapsl-bg-footer:linear-gradient(180deg, #b7a4c3, #29265c 55.77%); 